:root{
    --color-nav: #000000;
    --color-logo: #EFB810;
    --color-title: #B98F0E;
}
*{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}
/* Estilos para PC */
.header{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #242424;
}
.header__title{
    margin: 0;
    font-size: 40px;
    font-weight: 700;
    color: var(--color-logo);
    filter: drop-shadow(1px 1px 2px #FFFFFF);
}
main{
    height: 80vh;
    width: 80vw;
    margin: auto;
}
.about{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5vh 2vw;
}
.about__img{
    width: 33vw;
}
.about__content{
    width: 35vw;
}
.about__content__title{
    margin-bottom: 2vh;
    font-size: 40px;
    font-weight: 500;
    color: var(--color-title);
}
.about__content__text{
    margin: 1vh 0;
    line-height: 1.5;
}
.concepts{
    display: flex;
    justify-content: space-around;
    padding: 0 2vw;
}
.concepts__item{
    width: 33vw;
    padding: 5vh 2vw;
    color: var(--color-nav);
    background-color: var(--color-logo);
}
.concepts__item__title{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 2vh;
}
.concepts__item__text{
    line-height: 1.5;
}
.mission{
    color: var(--color-logo);
    background-color: var(--color-nav);
}
.values{
    height: 65vh;
    width: 80vw;
    margin: auto;
    padding: 5vh 3vw;
}
.values__title{
    margin-bottom: 5vh;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    color: var(--color-title)
}
.values__container{
    display: flex;
    justify-content: space-around;
}
.values__value{
    width: 30%;
    padding: 5vh 2vw;
    border: 2px solid #AAA9A9;
}
.values__value__img{
    height: 9vh;
    margin: auto;
    margin: 1vh 0;
}
.values__value__title{
    margin: 1vh 0;
    font-size: 25px;
    font-weight: 500;
}
.values__value__text{
    line-height: 1.5;
}