:root{
    --color-logo: #EFB810;
    --color-info: #FFFFFF;
    --color-fondo: #80868A4D;
    --color-value: #B98F0E;
}
*{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}
/* Estilos para PC */
body{
    background-color: var(--color-fondo);
}
.header{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #242424;
}
.header__title{
    margin: 0;
    font-size: 40px;
    font-weight: 700;
    color: var(--color-logo);
    filter: drop-shadow(1px 1px 2px var(--color-info));
}
main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 55vh;
    width: 60vw;
    margin: auto;
    padding: 3vh 4vw;
}
.product{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2vh 2vw;
    height: 100%;
    width: 25vw;
    border-radius: 1vw;
    background-color: var(--color-info);
}
.product__name{
    font-size: 25px;
    font-weight: 500;
    padding-bottom: 5px;
    border-bottom: 3px solid var(--color-fondo);
}
.product__data{
    line-height: 1.5;
    font-size: 17px;
}
.product__data__value{
    margin-left: 10px;
    font-weight: 500;
    color: var(--color-value);
}
.product__description{
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 5px;
    border-bottom: 3px solid var(--color-fondo);
}
.product__text{
    line-height: 1.5;
}
.product__form{
    text-align: center;
}
.product__form__amount{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
.product__form__amount__name{
    margin-right: 1vw;
    font-weight: 500;
}
.product__form__amount__operate{
    height: 3vh;
    border-radius: 50%;
}
.product__form__amount__number{
    width: 2vw;
    margin-left: 1vw;
    font-weight: 500;
    border: none;
}
.product__form__button{
    display: block;
    width: 80%;
    margin: auto;
    margin-top: 2vh;
    padding: 1vh;
    font-size: 17px;
    font-weight: 700;
    border-radius: 1vh;
    border-color: var(--color-fondo);
    background-color: #FFC300;
}
/* Transiciones y Efectos */
.product__form__button:hover{
    background-color: var(--color-logo);
}
.product__form__button:focus{
    background-color: var(--color-value);
}
.product__form__amount__operate:hover{
    background-color: var(--color-logo);
}