:root{
    --color-slogan: #FFFFFF;
    --color-nav: #000000;
    --color-logo: #EFB810;
    --color-focus: #B98F0E;
}
*{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}
/* Estilos para PC */
.nav{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    padding: 0 5vw;
    background-color: var(--color-nav);
}
.nav, .nav__logo{
    display: flex;
    align-items: center;
}
.nav__logo__title{
    font-size: 35px;
    font-weight: 700;
    color: var(--color-logo);
    filter: drop-shadow(1px 1px 2px var(--color-slogan));
}
.nav__logo__img{
    height: 10vh;
    filter: drop-shadow(1px 1px 2px var(--color-slogan));
}
.nav__list{
    display: inline-block;
    margin: 0 0.5vw;
}
.nav__list__link{
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: var(--color-slogan);
}
.nav__input, .nav__button{
    padding: 1vh;
    font-size: 17px;
}
.nav__button{
    font-weight: 600;
    background-color: #FFC300;
}
header{
    width: 100%;
    height: 51vh;
    color: var(--color-slogan);
    background-image: url(../../resources/images/pc-background.webp);
    background-size: cover;
    background-repeat: no-repeat;
}
.slogan{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 15vw;
    color: var(--color-slogan);
}
.slogan__user{
    height: 50vh;
    margin-top: 1vh;
}
.slogan__phrase{
    height: 50vh;
    text-align: right;
}
.slogan__phrase__title{
    margin-top: 5vh;
    margin-bottom: 3vh;
    font-size: 70px;
    font-weight: 700;
    font-style: italic;
}
.slogan__phrase__subtitle{
    font-size: 50px;
    font-weight: 500;
    font-style: italic;
}
.slogan__phrase__idea{
    margin-top: 3vh;
    margin-bottom: 5vh;
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
}
.slogan__phrase__link{
    margin-left: 3vh;
    padding: 1.5vh 2.5vh;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    color: var(--color-slogan);
    border: 3px solid var(--color-slogan);
}
main{
    width: 85vw;
    margin: auto;
}
.benefits{
    height: 39vh;
}
.benefits__title{
    padding: 2vh;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}
.benefits__container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}
.benefits__container__item{
    width: 20vw;
}
.benefits__container__item__img{
    height: 23vh;
    border-radius: 50%;
    border: 3px solid #242424;
    object-fit: cover;
    box-shadow: 7px 7px 7px 0 var(--color-nav);
}
.benefits__items__name{
    margin: 1vh;
    font-size: 20px;
}
/* Transiciones y Efectos */
.nav__list__link:hover{
    color: var(--color-logo);
}
.nav__list__link:focus{
    color: var(--color-focus);
}
.nav__button:hover{
    background-color: var(--color-logo);
}
.nav__button:focus{
    background-color: var(--color-focus);
}
.slogan__phrase__link:hover{
    background-color: var(--color-logo);
    color: var(--color-nav);
}
.slogan__phrase__link:focus{
    background-color: var(--color-focus);
}