:root{
    --color-slogan: #FFFFFF;
    --color-nav: #000000;
    --color-logo: #EFB810;
    --color-focus: #B98F0E;
}
*{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}
/* Estilos para PC */
.nav{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    padding: 0 3vw;
    background-color: var(--color-nav);
    z-index: 1;
}
.nav, .nav__logo{
    display: flex;
    align-items: center;
}
.nav__logo__img{
    height: 10vh;
    filter: drop-shadow(1px 1px 2px var(--color-slogan));
}
.nav__logo__title{
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    color: var(--color-logo);
    filter: drop-shadow(1px 1px 2px var(--color-slogan));
}
.nav__list{
    display: inline-block;
    margin: 0 0.5vw;
}
.nav__list__link{
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    color: var(--color-slogan);
}
.nav__input, .nav__button{
    padding: 1vh;
}
.nav__button{
    font-weight: 600;
    background-color: #FFEE00;
}
.shopping-cart{
    position: fixed;
    bottom: 2vh;
    right: 1vw;
    width: 61px;
    padding: 25px 15px 9px 11px;
    background-color: var(--color-logo);
}
.shopping-cart__number{
    position: absolute;
    top: -15px;
    left: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    color: var(--color-slogan);
    background-color: var(--color-nav);
    border-radius: 50%;
}
.shopping-cart__icon{
    color: var(--color-nav);
}
.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 22vh;
    color: var(--color-slogan);
    background-color: var(--color-nav);
}
.footer__logo{
    margin-top: -3vh;
    height: 18vh;
    filter: drop-shadow(2px 2px 3px var(--color-slogan));
}
.footer__name{
    margin-top: -2vh;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: var(--color-logo);
}
.footer__info{
    margin-top: 5vh;
    height: 100%;
    text-align: center;
}
.fa-2xl{
    margin-top: 1vh;
    margin-bottom: 3vh;
}
.footer__info__title{
    margin-bottom: 1vh;
    color: var(--color-logo);
}
.footer__info__list{
    list-style: none;
}
.footer__info__list__link{
    font-size: 13px;
    margin-left: 5px;
    text-decoration: none;
    color: var(--color-slogan);
}
.footer__info__text{
    font-size: 13px;
}
.copyright{
    height: 3vh;
    text-align: center;
    color: #9E9D9D;
    background-color: #242424;
}
/* Transiciones y Efectos */
.nav__list__link:hover{
    color: var(--color-logo);
}
.nav__list__link:focus{
    color: var(--color-focus);
}
.nav__button:hover{
    background-color: var(--color-logo);
}
.nav__button:focus{
    background-color: var(--color-focus);
}
.footer__info__list__link:hover{
    color: var(--color-logo);
}
.footer__info__list__link:focus{
    color: var(--color-focus);
}