:root{
    --color-slogan: #FFFFFF;
    --color-nav: #000000;
    --color-logo: #EFB810;
    --color-focus: #B98F0E;
}
*{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}
/* Estilos para PC */
nav{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    padding: 0 3vw;
    background-color: var(--color-nav);
    z-index: 1;
}
nav, .logo{
    display: flex;
    align-items: center;
}
.logo__img{
    height: 10vh;
    filter: drop-shadow(1px 1px 2px var(--color-slogan));
}
.logo__title{
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    color: var(--color-logo);
    filter: drop-shadow(1px 1px 2px var(--color-slogan));
}
.list{
    display: inline-block;
    margin: 0 0.5vw;
}
.list__link{
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    color: var(--color-slogan);
}
.close{
    color: #FF0000;
}
/* Transiciones y Efectos */
.list__link:hover{
    color: var(--color-logo);
}
.list__link:focus{
    color: var(--color-focus);
}
.close:hover{
    color: #b10f0f;
}
.close:focus{
    color: #AA0E0E;
}