:root{
    --color-title: #FFFFFF;
    --color-logo: #EFB810;
    --color-borde: #80868A4D;
}
*{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}
/* Estilos para PC */
.header{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #242424;
}
.header__title{
    margin: 0;
    font-size: 40px;
    font-weight: 700;
    color: var(--color-logo);
    filter: drop-shadow(1px 1px 2px var(--color-title));
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    width: 80vw;
    margin: auto;
    padding: 3vh 0;
}
th, td{
    padding: 1vh 1vw;
    text-align: center;
    font-weight: 500;
    border: 3px solid var(--color-borde);
}
th{
    color: #000000;
    background-color: var(--color-logo);
}
img{
    height: 8vh;
}
.button, .download{
    padding: 1vh 1vw;
    text-decoration: none;
    font-weight: 700;
    color: #000000;
    background-color: #FFC300;
    border: none;
}
.delete{
    margin: auto;
    color: var(--color-title);
    background-color: #FF0000;
}
.download{
    margin-top: 5vh;
    border: 3px solid var(--color-borde);
}
.alert{
    position: absolute;
    top: 10vh;
    left: 0;
    right: 0;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 18vh;
    width: 40vw;
    margin: auto;
    background-color: var(--color-title);
    border: 3px solid var(--color-borde);
    transition: 0.5s;
}
.confirm{
    color: var(--color-title);
    background-color: #FF0000;
}
/* Transiciones y Efectos */
.button:hover, .download:hover{
    background-color: var(--color-logo);
}
.button:focus, .download:focus{
    background-color: #B98F0E;
}
.delete:hover{
    background-color: #CC1212;
}
.delete:focus{
    background-color: #AA0E0E;
}