<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Denardo Taco Sánchez">
    <link rel="icon" href="../resources/images/icono.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/normalize.css">
    <link rel="stylesheet" href="styles/about.css">
    <title>NOSOTROS</title>
    <script src="https://kit.fontawesome.com/dd474d89cd.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="nav">
        <div class="nav__logo">
            <figure>
                <img class="nav__logo__img" src="../resources/images/logo.webp" alt="logo">
            </figure>
            <h1 class="nav__logo__title">EL PERNO DORADO</h1>
        </div>
        <ul>
            <li class="nav__list">
                <a class="nav__list__link" href="../index.html">Inicio</a>
            </li>
            <li class="nav__list">
                <a class="nav__list__link" href="">Categorías</a>
            </li>
            <li class="nav__list">
                <a class="nav__list__link" href="">Productos</a>
            </li>
            <li class="nav__list">
                <a class="nav__list__link" href="about.html">Nosotros</a>
            </li>
            <li class="nav__list">
                <a class="nav__list__link" href="">Contacto</a>
            </li>
            <li class="nav__list">
                <a class="nav__list__link" href="view/login.php">Admin</a>
            </li>
        </ul>
        <form action="" method="post">
            <input class="nav__input" type="text" name="txtBusqueda" placeholder="Busca un Producto">
            <input class="nav__button" type="submit" value="BUSCAR">
        </form>
    </nav>
    <header>
        <h1>NOSOTROS</h1>
    </header>
    <main>
        <section class="about">
            <figure>
                <img class="about__img" src="../resources/images/about.webp" alt="about">
            </figure>
            <div class="about__content">
                <h2>SOBRE EL PERNO DORADO</h2>
                <p>Somos una empresa arequipeña con más de 20 años de experiencia en la comercialización de una amplia gama de productos de ferretería, brindándoles soluciones integrales  con los mejores precios del mercado.</p>
                <p>Nuestros servicios están orientados a satisfacer las necesidades de nuestros clientes a través de procesos eficientes y apoyarnos con tecnología de última generación.</p>
            </div>
        </section>
        <div class="concepts">
            <article>
                <h3>MISIÓN</h3>
                <p>Entregarles a nuestros clientes una amplia gama de productos y equipos que necesiten para poder desempeñar sus tareas de una manera eficiente y segura.</p>
            </article>
            <article>
                <h3>VISIÓN</h3>
                <p>Nos proyectamos como una empresa conocida en el área de ferretería, así como también brindar a nuestros clientes una gran cobertura de distribución, creando un compromiso que nos permite brindar un servicio de calidad.</p>
            </article>
        </div>
    </main>
    <section class="values">
        <h2>NUESTROS VALORES</h2>
        <article>
            <figure>
                <img src="../resources/images/commitment.png" alt="compromiso">
            </figure>
            <h3>COMPROMISO</h3>
            <i></i>
            https://iconos8.es/icon/96474/tarea-grupal
            <p>Realizamos nuestro trabajo reflejando el compromiso con nuestros clientes. Trabajamos con una fuerte convicción en ayudar a cumplir los objetivos de nuestros clientes.</p>
        </article>
        <article>
            <figure>
                <img src="../resources/images/excellence.png" alt="excelencia">
            </figure>
            <h3>EXCELENCIA</h3>
            <p>Realizamos nuestro trabajo con excelencia, alcanzando los niveles de calidad requeridos por nuestros clientes. Trabajamos bajo la óptica de una cultura de gestión eficiente.</p>
        </article>
        <article>
            <figure>
                <img src="../resources/images/honesty.png" alt="honestidad">
            </figure>
            <h3>HONESTIDAD</h3>
            <p>Procedemos con honradez en nuestras actividades diarias, buscando responder a la confianza que nuestros clientes han depositado en nosotros, demostrando una conducta recta y honorable en nuestras actividades.</p>
        </article>
    </section>
    <footer>
        <figure>
            <img src="../resources/images/logo.webp" alt="logo">
        </figure>
        <div>
            <h3>CONTACTANOS</h3>
            <ul>
                <li>
                    <i class="fa-brands fa-facebook"></i><a href="#">Facebook</a>
                </li>
                <li>
                    <i class="fa-brands fa-square-instagram"></i><a href="#">Instagram</a>
                </li>
                <li>
                    <i class="fa-brands fa-twitter"></i><a href="#">Twitter</a>
                </li>
                <li>
                    <i class="fa-solid fa-envelope"></i><a href="#">Gmail</a>
                </li>
                <li>
                    <i class="fa-solid fa-phone-volume"></i><a href="#">914314466</a>
                </li>
            </ul>
        </div>
        <div>
            <h3>CUENTAS BANCARIAS</h3>
            <p>BCP: 191 – 2148712-0-48</p>
            <p>BCP CCI: 003-19100214871204821</p>
            <p>Interbank: 191-3169901575</p>
            <p>Interbank CCI: 003-191-013169901575-35</p>
        </div>
        <h4>&copy;Copyright - Todos los Derechos Reservados EL PERNO DORADO 2023</h4>
    </footer>
</body>
</html>