<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Denardo Taco Sánchez">
    <link rel="icon" href="../resources/images/icono.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/normalize.css">
    <link rel="stylesheet" href="styles/nav-footer.css">
    <link rel="stylesheet" href="styles/about.css">
    <title>NOSOTROS</title>
    <script src="https://kit.fontawesome.com/dd474d89cd.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="nav">
        <div class="nav__logo">
            <figure>
                <a href="../index.html">
                    <img class="nav__logo__img" src="../resources/images/logo.webp" alt="logo">
                </a>
            </figure>
            <h1><a class="nav__logo__title" href="../index.html">EL PERNO DORADO</a></h1>
        </div>
        <ul>
            <li class="nav__list">
                <a class="nav__list__link" href="../index.html">Inicio</a>
            </li>
            <li class="nav__list">
                <a class="nav__list__link" href="categories.html">Categorías</a>
            </li>
            <li class="nav__list">
                <a class="nav__list__link" href="products.html">Productos</a>
            </li>
            <li class="nav__list">
                <a class="nav__list__link" href="about.html">Nosotros</a>
            </li>
            <li class="nav__list">
                <a class="nav__list__link" href="contact.html">Contacto</a>
            </li>
            <li class="nav__list">
                <a class="nav__list__link" href="login.php">Admin</a>
            </li>
        </ul>
        <form action="#" method="post">
            <input class="nav__input" type="text" placeholder="Busca un Producto" required>
            <input class="nav__button" type="submit" value="BUSCAR">
        </form>
    </nav>
    <div class="shopping-cart">
        <div class="shopping-cart__number">
            <span>10</span>
        </div>
        <a class="shopping-cart__icon" href="shopping-cart.html">
            <i class="fa-solid fa-cart-shopping fa-2xl"></i>
        </a>
    </div>
    <header class="header">
        <h2 class="header__title">NOSOTROS</h2>
    </header>
    <main>
        <article class="about">
            <figure>
                <img class="about__img" src="../resources/images/about.webp" alt="about">
            </figure>
            <div class="about__content">
                <h2 class="about__content__title">SOBRE EL PERNO DORADO</h2>
                <p class="about__content__text">Somos una empresa arequipeña con más de 20 años de experiencia en la comercialización de una amplia gama de productos de ferretería, brindándoles soluciones integrales  con los mejores precios del mercado.</p>
                <p class="about__content__text">Nuestros servicios están orientados a satisfacer las necesidades de nuestros clientes a través de procesos eficientes y apoyarnos con tecnología de última generación.</p>
            </div>
        </article>
        <div class="concepts">
            <article class="concepts__item mission">
                <h3 class="concepts__item__title">MISIÓN</h3>
                <p class="concepts__item__text">Entregarles a nuestros clientes una amplia gama de los productos que necesitan para poder desempeñar sus tareas de una manera eficiente y segura.</p>
            </article>
            <article class="concepts__item vision">
                <h3 class="concepts__item__title">VISIÓN</h3>
                <p class="concepts__item__text">Nos proyectamos como una empresa conocida en el área de ferretería, así como también brindar a nuestros clientes una gran cobertura de distribución.</p>
            </article>
        </div>
    </main>
    <section class="values">
        <h2 class="values__title">NUESTROS VALORES</h2>
        <div class="values__container">
            <article class="values__value">
                <figure>
                    <img class="values__value__img" src="../resources/images/commitment.png" alt="compromiso">
                </figure>
                <h3 class="values__value__title">COMPROMISO</h3>
                <p class="values__value__text">Realizamos nuestro trabajo reflejando el compromiso con nuestros clientes. Trabajamos con una fuerte convicción en ayudar a cumplir los objetivos de nuestros clientes.</p>
            </article>
            <article class="values__value">
                <figure>
                    <img class="values__value__img" src="../resources/images/excellence.png" alt="excelencia">
                </figure>
                <h3 class="values__value__title">EXCELENCIA</h3>
                <p class="values__value__text">Realizamos nuestro trabajo con excelencia, alcanzando los niveles de calidad requeridos por nuestros clientes. Trabajamos bajo la óptica de una cultura de gestión eficiente.</p>
            </article>
            <article class="values__value">
                <figure>
                    <img class="values__value__img" src="../resources/images/honesty.png" alt="honestidad">
                </figure>
                <h3 class="values__value__title">HONESTIDAD</h3>
                <p class="values__value__text">Procedemos con honradez en nuestras actividades, buscando responder a la confianza que nuestros clientes han depositado en nosotros, demostrando una conducta recta.</p>
            </article>
        </div>
    </section>
    <footer class="footer">
        <figure>
            <img class="footer__logo" src="../resources/images/logo.webp" alt="logo">
            <figcaption class="footer__name">EL PERNO DORADO</figcaption>
        </figure>
        <div class="footer__info">
            <i class="fa-sharp fa-solid fa-address-card fa-2xl"></i>
            <h3 class="footer__info__title">CONTACTANOS</h3>
            <ul class="footer__info__list">
                <li>
                    <i class="fa-brands fa-facebook"></i>
                    <a class="footer__info__list__link" href="#">Facebook</a>
                </li>
                <li>
                    <i class="fa-brands fa-square-instagram"></i>
                    <a class="footer__info__list__link" href="#">Instagram</a>
                </li>
                <li>
                    <i class="fa-solid fa-phone-volume"></i>
                    <a class="footer__info__list__link" href="#">914314466</a>
                </li>
            </ul>
        </div>
        <div class="footer__info">
            <i class="fa-regular fa-credit-card fa-2xl"></i>
            <h3 class="footer__info__title">CUENTAS BANCARIAS</h3>
            <p class="footer__info__text">BCP: 191 – 2148712-0-48</p>
            <p class="footer__info__text">BCP CCI: 003-19100214871204821</p>
            <p class="footer__info__text">Interbank: 191-3169901575</p>
            <p class="footer__info__text">Interbank CCI: 003-191-013169901575-35</p>
        </div>
    </footer>
    <h4 class="copyright">&copy;Copyright - Todos los Derechos Reservados EL PERNO DORADO 2023</h4>
</body>
</html>