<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Denardo Taco Sánchez">
    <link rel="icon" href="../resources/images/icono.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/normalize.css">
    <link rel="stylesheet" href="styles/nav-admin.css">
    <link rel="stylesheet" href="styles/new-product.css">
    <title>NUEVO PRODUCTO</title>
</head>
<body>
    <nav>
        <div class="logo">
            <figure>
                <a href="panel.html">
                    <img class="logo__img" src="../resources/images/logo.webp" alt="logo">
                </a>
            </figure>
            <h1><a class="logo__title" href="panel.html">EL PERNO DORADO</a></h1>
        </div>
        <ul>
            <li class="list">
                <a class="list__link" href="panel.html">Panel del Administrador</a>
            </li>
            <li class="list">
                <a class="list__link" href="product-list.html">Lista de Productos</a>
            </li>
            <li class="list">
                <a class="list__link" href="new-product.html">Nuevo Producto</a>
            </li>
            <li class="list">
                <a class="list__link" href="sales-history.html">Historial de Ventas</a>
            </li>
            <li class="list">
                <a class="list__link close" href="../controller/close.php">Cerrar Sesión</a>
            </li>
        </ul>
    </nav>
    <header class="header">
        <h2 class="header__title">AGREGAR NUEVO PRODUCTO</h2>
    </header>
    <main>
        <form class="insert-form" action="#" method="post">
            <input class="insert-form__input" type="text" placeholder="Código" required>
            <input class="insert-form__input" type="text" placeholder="Nombre" required>
            <input class="insert-form__input" type="text" placeholder="Marca" required>
            <select class="insert-form__input">
                <option>Categoría</option>
                <option>Construcción</option>
                <option>Carpintería</option>
                <option>Electricidad</option>
                <option>Pinturas</option>
                <option>Seguridad</option>
                <option>Gaasfitería</option>
            </select>
            <input class="insert-form__input" type="number" placeholder="Stock" required>
            <input class="insert-form__input" type="number" placeholder="Precio" required>
            <textarea class="insert-form__input textarea" rows="4" placeholder="Descripción del Producto" required></textarea>
            <input class="insert-form__input" type="file" required>
            <input class="insert-form__button" type="submit" value="AGREGAR PRODUCTO">
        </form>
    </main>
</body>
</html>