<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Denardo Taco Sánchez">
    <link rel="icon" href="../resources/images/icono.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/normalize.css">
    <link rel="stylesheet" href="styles/nav-admin.css">
    <link rel="stylesheet" href="styles/update-product.css">
    <title>MODIFICAR PRODUCTO</title>
</head>
<body>
    <nav>
        <div class="logo">
            <figure>
                <a href="panel.html">
                    <img class="logo__img" src="../resources/images/logo.webp" alt="logo">
                </a>
            </figure>
            <h1><a class="logo__title" href="panel.html">EL PERNO DORADO</a></h1>
        </div>
        <ul>
            <li class="list">
                <a class="list__link" href="panel.html">Panel del Administrador</a>
            </li>
            <li class="list">
                <a class="list__link" href="product-list.html">Lista de Productos</a>
            </li>
            <li class="list">
                <a class="list__link" href="new-product.html">Nuevo Producto</a>
            </li>
            <li class="list">
                <a class="list__link" href="sales-history.html">Historial de Ventas</a>
            </li>
            <li class="list">
                <a class="list__link close" href="../controller/close.php">Cerrar Sesión</a>
            </li>
        </ul>
    </nav>
    <header class="header">
        <h2 class="header__title">MODIFICAR PRODUCTO</h2>
    </header>
    <main>
        <form class="update-form" action="#" method="post">
            <div class="update-form__input">Código: 100869</div>
            <div class="update-form__input">Nombre: Extensión Eléctrica 5M</div>
            <div class="update-form__input">Marca: Homelight</div>
            <div class="update-form__input">Categoría: Electricidad</div>
            <div class="update-form__editable">
                <label  class="update-form__input label">Precio: S/</label>
                <input class="update-form__input" type="number" value="99.99" required>
            </div>
            <div class="update-form__editable">
                <label  class="update-form__input label">Stock</label>
                <input class="update-form__input" type="number" value="10" required>
            </div>
            <textarea class="update-form__input textarea" rows="5" required>Extensión eléctrica vulcanizada de 5 metros de largo, voltaje 220v - 60hz, conductores de cobre fósforo, calibre 0,785 mm2.
            </textarea>
            <input class="update-form__button" type="submit" value="MODIFICAR PRODUCTO">
        </form>
    </main>
</body>
</html>